---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import SpeedInsights from '@vercel/speed-insights/astro';
const { title, description } = Astro.props;

const metadata = {
  title: 'Search1API— A fast and cheap search api for AI',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '1 day for free',
        href: 'https://search2ai.online/api',
        target: '_blank',
        icon: 'tabler:click',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/runningman.png', alt: 'runningman with search speed' }}
  >
    <Fragment slot="title">
      Fast and cheap<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> Search API</span> for AI
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Search1API</span> is a simple api for searching and crawling content, which is always needed by LLMs.</span
      >
       It enables you to perform searches across Google, Bing, and DuckDuckGo, and also retrieve clear content from URLs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Search1API"
    subtitle="One API for search, the easiest way to turn LLMs into AGI"
    items={[
      {
        title: 'Multiple Search Engine Options',
        description:
          'Select from Google, Bing, or DuckDuckGo to find the information you need, your way',
        icon: 'tabler:search',

      },
      {
        title: 'URL Content Extraction',
        description:
          'Get text-only content from any URL, perfect for content analysis and NLP tasks',
        icon: 'tabler:link',
      },
      {
        title: 'Deep Search for Rich Context',
        description:
          'Retrieve search results and related webpage context for more informed LLM interactions',
        icon: 'tabler:eye-search',
      },
      
      {
        title: 'Efficient Batch Processing',
        description:
          'Submit multiple searches as an array for fast, parallel processing of large-scale data collection tasks',
        icon: 'tabler:arrows-shuffle',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="The way to use"
    title="Just post it"
    items={[
      {
        title: 'Search',
        description:
          'Get lightning-fast results in just 1 second. Customize the number of results or use deep search for more comprehensive information',
      },
      {
        title: 'News',
        description:
          'Stay updated with the latest breaking stories and trending topics using our news search feature',
      },
      {
        title: 'Crawl',
        description:
          'Efficiently extract clean, structured webpage content with our intelligent HTML filtering algorithms',
      },
    ]}
    image={{
      src: '~/assets/images/smilegirl.jpeg',
      alt: 'Smile girl with search1api',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Search as you need</h3>
       Search1API empowers you with quick searches, up-to-date news, and efficient content extraction to fuel your LLM applications. Experience the power of Search1API today
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    id="pricing"
    title="Pricing plans"
    prices={[
      {
        title: 'Almost Free',
        subtitle: '1,000 times',
        price: '0.99',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: '1 Day Free trail',
          href: 'https://search2ai.online/api',
        },
      },
      {
        title: 'Feel Free',
        subtitle: '10,000 times',
        price: 7.99,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: 'https://search2ai.online/api',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise Edition',
        subtitle: '500000 times',
        price: 375.00,
        period: '/ Year',
        callToAction: {
          target: '_blank',
          text: 'For the big boss',
          href: 'https://search2ai.online/api',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs"
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How quickly will I receive a result?',
        description:
          'Search results are typically delivered within 1-2 seconds. URL crawling may take up to 10 seconds, depending on the complexity of the webpage',
      },
      {
        title: 'How can I use Batch Processing?',
        description:
          "To use Batch Processing, simply pass an array of search requests to the API endpoint. Search1API will process these requests in parallel, enabling efficient handling of multiple searches simultaneously",
      },
      {
        title: "How can I see the usage?",
        description:
          "To view your current usage statistics, make a POST request to https://search.search2ai.one/usage. The API will respond with detailed information about your account's usage, including the number of searches, crawls, and API calls made",
      },
      {
        title: 'What payment methods do you accept?',
        description:
          "We accept a variety of payment methods to suit your needs. For subscription plans, you can pay using credit cards, Google Pay, or Apple Pay. If you opt for a one-time purchase, we also support PayPal, Alipay, and WeChat Pay",
      },

    ]}
  />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
 
<SpeedInsights />

