---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Pricing from '~/components/widgets/Pricing.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '1 day for free',
        href: 'https://search2ai.online/api',
        target: '_blank',
        icon: 'tabler:click',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Fast and cheap<span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Search API</span> for AI
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Search1API</span> is a simple api for search and crawl contents, which is always needed by LLMs.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       It enables you to perform searches across Google, Bing, and DuckDuckGo, and also retrieve clear content from URLs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Search1API"
    subtitle="One API for search, the easiest way to turn LLMs into AGI"
    items={[
      {
        title: 'Search engines you can choose',
        description:
          'Support Google, Bing, DuckDuckGo, you can choose what you like',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Crawl the URLs',
        description:
          'Get the clean contents of a url',
        icon: 'tabler:artboard',
      },
      {
        title: 'Deep search',
        description:
          'Search and crawl by the same time, to get the enough context for LLMs',
        icon: 'tabler:writing',
      },
      
      {
        title: 'Batch Processing',
        description:
          'Support passing multiple search requests in the form of arrays for parallel batch processing',
        icon: 'tabler:podium',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="The way to use"
    title="Just post it"
    items={[
      {
        title: 'search',
        description:
          'You can get the results in about 1s, and you can choose how many results you want to search or deep search',
      },
      {
        title: 'news',
        description:
          'More helpful when you want something new',
      },
      {
        title: 'crawl',
        description:
          'It will get the content of the url without useless html code',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Search as you need</h3>
       Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    id="pricing"
    title="Pricing plans"
    prices={[
      {
        title: 'Almost Free',
        subtitle: '1,000 times',
        price: '0.99',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: '1 Day Free trail',
          href: 'https://search2ai.online/api',
        },
      },
      {
        title: 'Feel Free',
        subtitle: '10,000 times',
        price: 7.99,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: 'https://search2ai.online/api',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'One-time purchase',
        subtitle: '800 times, support Alipay and wechat pay',
        price: 0.99,
        period: '/ Year',
        callToAction: {
          target: '_blank',
          text: 'But it now',
          href: 'https://search2ai.online/api',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs"
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How quickly will I receive a result?',
        description:
          '1 to 2 seconds when you just search, 10s when you want to crawl a url',
      },
      {
        title: 'How can I use Batch Processing?',
        description:
          "You can passing multiple search requests in the form of arrays for parallel batch processing",
      },
      {
        title: "How can I see the usage?",
        description:
          "You can post https://search.search2ai.one/usage to know the usage you have",
      },
      {
        title: 'What payment methods do you accept?',
        description:
          "You can use card, google pay, apple pay in subscribtion and even paypal, alipay, wechatpay when you buy the one-time purchase",
      },

    ]}
  />


